#title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#dataHargaBuah {
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
}

#dataHargaBuah th {
    text-align: center;
    background-color: #aaaaaa;
}

#dataHargaBuah tr {
    background-color: #ff7f50;
    text-align: left;
    border: 1px solid #ffffff;
}

